:root {
  --primary: #00d9ff;
  --secondary: #ff8800;
  --back: #f1f1f1;
  --action: #ff6565;
  --border-radius: 15px;
  --btn-padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--back);
  font-family: sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#back-button {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 10px 15px;
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#back-button:hover {
  background-color: #005f87;
}

#score-classement {
  margin-bottom: 20px;
  background-color: white;
  padding: 15px 30px;
  border-radius: var(--border-radius);
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#difference-score {
  margin-left: 10px;
  color: var(--primary);
  font-size: 24px;
}

.score {
  margin-top: 20px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 20px;
  text-align: center;
  font-size: 35px;
  background-color: white;
  padding: var(--btn-padding);
  border-radius: 15px;
}

#reset {
  font-size: 12px;
  grid-column: span 2;
  cursor: pointer;
}

#reset:hover {
  color: var(--action);
}

.action {
  margin-bottom: 40px;
  text-align: center;
}

#message {
  font-size: 25px;
}

#next {
  margin-top: 20px;
  padding: 10px 30px;
  background-color: var(--action);
  color: white;
  border-radius: var(--border-radius);
  visibility: hidden;
  cursor: pointer;
}

#next.active {
  visibility: visible;
}

.jeu {
  border-top: 1px solid black;
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 200px;
}

.button {
  display: flex;
  align-items: center;
  font-size: 45px;
  padding: var(--btn-padding);
}

.button img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.btn-joueur,
.btn-ordi {
  border-radius: 15px;
  transition: all 0.2s ease;
}

.btn-joueur {
  cursor: pointer;
  background-color: white;
}

.btn-joueur:hover {
  color: var(--primary);
}

.button p {
  margin-left: 20px;
}

.button:not(:last-child) {
  margin-bottom: 40px;
}

.btn-joueur.desactivated {
  background-color: var(--back);
  cursor: default;
}

.btn-joueur.desactivated:hover,
.btn-joueur.active {
  color: inherit;
}

.btn-joueur.active {
  background-color: var(--primary);
}

.btn-ordi.active {
  background-color: var(--secondary);
}

@media (max-width: 768px) {
  .jeu {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .score {
    grid-template-columns: repeat(2, 150px);
  }

  .button {
    font-size: 30px;
  }
}
